body {
  font-family: sans-serif;
}

#controls {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: right;
  width: 100%;
  z-index: 6;
}

#texte{
  margin-top: 8rem;
  width:100%;
}

textarea {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 2rem;
  resize: none;
}

.glyphs {
  background: transparent;
  border: none;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  font-family: 'to-preview';
  font-size: 8vw;
  max-width: 100%;
  position: absolute;
  word-wrap: break-word;
}

#base-text {
  caret-color: black ;
  color: lightgray;
  /* opacity: .5; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: 5;
}
